body {
  background-color: #F0F5F9;
}

#title {
  color: #3B8686;
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
  font-weight: 400;
  text-align: center;
}

#attribution {
  color: #454552;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.first-word {
  color: #3B8686;
}

.second-word {
  color: #79BD9A;
}

.third-word {
  color: #A8DBA8;
}

table {
  margin: 50px auto;
}

.square {
  color: #E85A71;
  font-family: 'Montserrat', sans-serif;
  font-size: 75px;
  height: 100px;
  width: 100px;
  text-align: center;
  vertical-align: middle;
}

.square:hover {
  color: #FEC9C9;
}


#reset-button {
  display: none;
}

#start-button, #reset-button {
  border: 2px solid #3B8686;
  border-radius: 5px;
  color: #3B8686;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin: 0 auto;
  text-align: center;
  padding: 10px 20px;
  width: 100px;
}

#start-button:hover, #reset-button:hover {
  background-color: #3B8686;
  color: white;
}

#message-board {
  color: #454552;
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  font-weight: 400;
  margin-top: 20px;
  text-align: center;
}